.tree {
    min-height:300px; 
    height:auto; 
    margin-top: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.tree-title {
    border: 1px solid #F3E2A9;
    line-height:23px;
    padding: 0px 2px;
    color: #333333;
    display:inline-block;
    margin:1px;
    background-color: #F7F2E0;
}
